.btn {
  display: block;
  border: none;
  padding: 0;
  background: #fff;
  outline: none;
}

.wrapper {
  width: 30%;
  margin: 0 auto;
}

.title-wrapper {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  font-size: 30px;
}

.active {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

