.wrapper {
  width: 30%;
  margin: 0 auto;
}

.todo {
  box-shadow: 3px 3px 15px 1px dimgray,-3px -3px 15px 1px grey;
}

.title-wrapper {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  font-size: 30px;
}

.todo__input {
  box-sizing: border-box;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  border: none;
  border-bottom: 2px solid lightgrey;
}

.todo__input-wrapper {
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}